<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
    <link rel="stylesheet" href="styles.css" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>

<body>

    <div class="box" id="heading">
        <h1 class="heading"> <%= listTitle %> </h1>
    </div>

    <form action="/delete" method="post">
        <div class="box">
            <% newTasks.forEach(function(i) { %>
            <div class="item">
                <input type="checkbox" name="checked" value="<%=i._id%>" onChange="this.form.submit()">
                <p><%= i.item %> </p>
            </div>
            <% }); %>
            <input type="hidden" name="listName" value="<%= listTitle %>"> </input>
    </form>
    


    <form class="item" action="/" method="POST">
        <input type="text" name="newItem" placeholder=" Go type in your tasks !" autocomplete="off">
        <button type="submit" name="button" value="<%=listTitle%>">+</button>
    </form>

    </div>



</body>

</html>